<!DOCTYPE html>
<html>
    <head>
        <title>Eazzytravel</title>
    </head>

    <body>
        <h1>Add a Car</h1>

        <form id="car_form" method="post" action="/travelas/add_car/">

            {% csrf_token %}
            
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Car" />
        </form>
    </body>

</html>