<!DOCTYPE html>

<html>
<head>
	 

		<title>Eazzytravel</title>
	</head>

	<body>

		 {% if cars %}
            <ul>
                {% for car in cars %}
                <li><a href="/travelas/car/{{ car.url }}">{{ car.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no cars present.</strong>
        {% endif %}

		 <br><a href="/travelas/about/">About</a> </br>
		<br> <a href="/travelas/add_car/"> Add a New Car</a> </br/>
		<br> <a href="/travelas/register/">Register Here</a> </br>

	</body>

</html>